{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow">
            <div class="card-body">

                <h3 class="mb-4">
                    Yeni Şifre Oluştur
                </h3>

                <input type="password"
                       class="form-control mb-3"
                       placeholder="Yeni şifre">

                <input type="password"
                       class="form-control mb-3"
                       placeholder="Şifre tekrar">

                <button class="btn btn-dark w-100">
                    Şifreyi Güncelle
                </button>

            </div>
        </div>

    </div>
</div>

{% endblock %}