{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow">
            <div class="card-body">

                <h3 class="mb-4">
                    Kod Doğrulama
                </h3>

                <p class="text-muted">
                    E-postanıza gönderilen 6 haneli kodu girin.
                </p>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <form method="post">
                    {% csrf_token %}

                    <input
                        type="text"
                        name="code"
                        class="form-control mb-3"
                        placeholder="6 haneli kod"
                        required
                    >

                    <button
                        type="submit"
                        class="btn btn-dark w-100">
                        Doğrula
                    </button>

                </form>

            </div>
        </div>

    </div>
</div>
<p class="text-muted mt-3">
    Kalan süre: <span id="timer">03:00</span>
</p>

<script>
let timeLeft = 180;

const timer = document.getElementById("timer");

const countdown = setInterval(function () {
    let minutes = Math.floor(timeLeft / 60);
    let seconds = timeLeft % 60;

    timer.textContent =
        String(minutes).padStart(2, "0") + ":" +
        String(seconds).padStart(2, "0");

    timeLeft--;

    if (timeLeft < 0) {
        clearInterval(countdown);
        timer.textContent = "Süre doldu";
    }
}, 1000);
</script>

{% endblock %}